$primary: #4CA0FC;
$error: #F20000;
$warning: #FFD910;
$secondary: #0369D9;
$success: #25CD36;
$black: #161616;
$white: #FFFFFF;
$gray1: #F1F1F1;
$gray2: #DBDBDB;
$gray3: #C2C2C2;
$gray4: #A7A7A7;
$gray5: #767676;

