$primary: #4CA0FC;
$error: #F20000;
$warning: #FFD910;
$secondary: #0369D9;
$success: #25CD36;
$black: #161616;
$white: #FFFFFF;
$gray_light_extra: #F1F1F1;
$gray_light_extra_background: #FCFCFC;
$gray_light: #DBDBDB;
$gray_medium_light: #C2C2C2;
$gray_medium: #A7A7A7;
$gray: #767676;

