@import '../assets/fonts/Montserrat/stylesheet.scss';
@import '../assets/fonts/Inter/stylesheet';
@import '../assets/fonts/Nunito/stylesheet.scss';
@import '../assets/fonts/Raleway/stylesheet.scss';
@import 'colors';

* {
  font-family: Inter;
  padding: 0;
  margin: 0;
}

.loader {
  svg {
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.login-page {
  height: 100vh;
  width: 100vw;
  background-image: url('../assets/images/background.jpg');
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;

  .login-container {
    background: $white;
    height: 100vh;
    width: 35%;
    justify-content: center;
    align-items: center;
    display: flex;

    .login-logo {
      position: absolute;
      left: 50px;
      top: 50px;
    }

    .login-inner-container {
      display: block;
      width: 60%;

      .login-text {
        margin: 20px 0 50px;
        font-size: 1.2em;
        color: $gray;
      }

      .login-title {
        font-size: 3em;
        font-weight: 600;
      }

      .login-forgot-pass-text {
        text-align: right;
        font-weight: bold;
        text-decoration: underline;
        font-size: 1.2em;
        margin: 15px 0;
      }

      .login-input {
        font-size: 1.2em;
        display: block;
        margin: 20px 0;
        padding: 15px 5px;
        border: none;
        border-bottom: solid $gray_medium_light 2.5px;
        outline: none;
        width: 100%;
        font-weight: 500;

        &:focus {
          border-bottom-color: $primary;
          transition: all ease-in-out 300ms;
        }
      }

      .login-button {
        margin: 50px 0;
        width: 100%;
        border: none;
        border-radius: 10px;
        text-align: center;
        padding: 20px;
        font-size: 1.2em;
        font-weight: bold;
        color: $white;
        background: $secondary;
        cursor: pointer;
        transition: all ease-in-out 300ms;

        &:hover {
          background: rgba($secondary, 0.8);
          transition: all ease-in-out 300ms;
        }
      }
    }
  }
}

.sidebar-container {
  top: 0;
  left: 0;
  position: fixed;
  width: 10vw;
  height: 100vh;
  padding: 50px;
  display: grid;
  grid-template-rows: 10vh 60vh 25vh;

  .sidebar-header {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: start;

    img {
      width: 8vw;
    }
  }

  .sidebar-body {
    .sidebar-item {
      display: flex;
      align-items: center;
      color: $gray_medium_light;
      font-weight: bold;
      font-size: 1.2em;
      padding: 10px 15px;
      margin: 20px 0;
      cursor: pointer;
      border-radius: 10px;
      transition: all ease-in-out 300ms;

      svg {
        margin-right: 12px;
      }

      &:hover {
        background: rgba($primary, 0.2);
        color: #7EB8F8;
        #icon-color path{
          fill: $primary;
        }
      }
    }
    .sidebar-item-active {
      background: rgba($primary, 0.2);
      color: #7EB8F8;
      #icon-color path{
        fill: $primary;
      }
    }
  }

  .sidebar-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .sidebar-profile-image {
      width: 64px;
      height: 64px;
      position: relative;
      overflow: hidden;
      border-radius: 50%;
      border: 10px solid $gray_light_extra;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        display: inline;
        margin: 0 auto;
        height: 100%;
        width: auto;
      }
    }

    .sidebar-username {
      font-size: 1.2em;
      font-weight: bold;
      margin: 10px 0;
    }

    .sidebar-email {
      color: $gray_medium_light;
    }

    .sidebar-icons {
      margin: 20px 0;

      svg {
        cursor: pointer;
      }
    }

  }
}

.home-page {
  margin-left: 15vw;

  .page-title {
    font-size: 2em;
    margin: 50px 0;
    font-weight: bold;
  }

  .home-container {
    display: grid;
    grid-template-columns: 60% 30%;
    gap: 24px;

    .home-leftside {
      .home-statistics {
        display: flex;
        gap: 24px;
        margin: 24px 0;

        .home-statistics-item {
          padding: 24px;
          border: 2px solid $gray_light_extra;
          border-radius: 20px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 200px;
          gap: 30px;

          .statistics-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .statistics-num {
              font-size: 24px;
              font-weight: bold;
            }

            .statistics-text {
              margin-top: 10px;
              font-size: 16px;
              color: $gray;
            }
          }

          .statistics-icon {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: $primary;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }

      .home-schools {
        padding: 24px;
        border: 2px solid $gray_light_extra;
        border-radius: 20px;

        .schools-title {
          font-size: 16px;
          font-weight: bold;
        }

        .schools-cities {
          margin: 24px 0;

          .cities-item {
            display: grid;
            grid-template-columns: 45% 45% 10%;
            align-items: center;
            cursor: pointer;
            padding: 18px 24px;
            margin: 8px 0;
            font-size: 16px;
            font-weight: bold;
            border: solid 2px $gray_light_extra;
            border-radius: 15px;
            transition: all ease-in-out 300ms;

            div {
              display: flex;
              align-items: center;
              justify-content: right;
            }

            &:hover {
              border: solid 2px $primary;
              border-radius: 15px;
            }

            svg {
              transform: rotate(180deg);
            }
          }
        }
      }
    }

    .home-rightside {
      .students-container {
        background: #FCFCFC;
        border-radius: 20px;
        padding: 24px;

        .students-title {
          font-size: 16px;
          font-weight: bold;
        }
        .class-tabs {
          display: flex;
          gap: 8px;
          margin: 24px 0;

          .class-item{
            padding: 10px 16px;
            border-radius: 15px;
            background: $gray_light_extra;
            font-weight: bold;
            font-size: 14px;
          }
        }
        .class-search {
          padding: 12px 24px;
          border-radius: 15px;
          border: 2px solid $gray_light;
          display: flex;
          align-items: center;

          input {
            border: none;
            background: transparent;
            font-size: 14px;
            padding: 0 12px;
            outline: none;
          }
        }
        .students-list {
          .student-item {
            display: grid;
            grid-template-columns: 10% 80% 5%;
            gap: 12px;
            cursor: pointer;
            margin: 24px 0;

            .student-profile-image {
              width: 40px;
              height: 40px;
              position: relative;
              overflow: hidden;
              border-radius: 50%;
              border: 10px solid $gray_light_extra;
              display: flex;
              align-items: center;
              justify-content: center;

              img {
                display: inline;
                margin: 0 auto;
                height: 100%;
                width: auto;
              }
            }
            .student-info {
              .student-name {
                font-weight: bold;
                font-size: 16px;
              }
              .student-class {
                margin-top: 12px;
                color: $gray_medium;
                font-weight: 400;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}

.not-exist {
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
  color: $gray_medium;
}

.go-back-button {
  display: flex;
  cursor: pointer;
  gap: 10px;
  align-items: center;
  font-weight: bold;
  border: none;
  background: transparent;
  color: $primary;
  font-size: 14px;
  outline: none;
}

.projects-page {
  margin: 48px 0 0 15vw;
  display: grid;
  gap: 24px;

  .projects-list {
    position: fixed;
    .title {
      font-weight: bold;
      font-size: 20px;
      margin: 24px 0;
    }

    .types-tabs {
      position: relative;
      display: flex;

      .type-tab {
        cursor: pointer;
        padding-bottom: 12px;
        border-right: none;
        border-top: none;
        border-left: none;
        border-bottom: 1px solid $gray_light_extra;
        background: transparent;
        color: $gray_medium_light;
        font-weight: bold;
        font-size: 14px;
        padding-right: 12px;
        padding-left: 12px;
        transition: all linear 300ms;
      }

      .active {
        color: $primary;
        border-bottom: 1px solid $primary;
        transition: all linear 300ms;
      }
    }

    .create-project-button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      border: none;
      cursor: pointer;
      border-radius: 15px;
      background: $primary;
      color: white;
      font-size: 16px;
      font-weight: bold;
      padding: 12px 0;
      margin: 36px 0 12px;
      transition: all ease-in-out 300ms;
      width: 100%;

      &:hover {
        background: $secondary;
        transition: all ease-in-out 300ms;
      }
    }

    .project-item {
      margin: 12px 0;
      cursor: pointer;
      border: white 2px solid;
      border-radius: 15px;
      padding: 12px;
      transition: all ease-in-out 200ms;

      .inner {
        display: grid;
        grid-template-columns: 90px calc(calc(100% - 90px) - 44px) 10px;
        gap: 12px;
        margin-bottom: 8px;

        .project-name {
          font-size: 16px;
          font-weight: bold;
        }

        .project-category {
          font-size: 12px;
          color: $gray_medium_light;
          margin-bottom: 8px;
        }

        .project-type, .project-duration {
          color: $primary;
          display: flex;
          align-items: center;
          gap: 8px;
        }

        .img-container {
          width: 90px;
          height: 90px;
          border-radius: 15px;
          overflow: hidden;

          img {
            height: 90px;
          }
        }
      }

      .project-status-closed {
        display: inline-block;
        border-radius: 10px;
        font-size: 12px;
        padding: 4px 8px;
        background: $gray_light;
      }

      &:hover {
        border: 2px solid $primary;
        transition: all ease-in-out 200ms;
      }
    }
  }

  .project-container {
    max-width: 900px;
    margin-left: 25%;

    @mixin project-info-template {
      padding: 48px;
      border: 2px solid $gray_light_extra;
      border-radius: 15px;
      margin-bottom: 24px;

      .title {
        display: flex;
        align-items: center;
        gap: 12px;
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 24px;
      }
    }

    .project-info {
      @include project-info-template;
      .project-header {
        display: flex;
        justify-content: space-between;

        .project-type {
          color: $gray_medium_light;
          font-size: 12px;
        }

        .project-name {
          font-size: 24px;
          font-weight: bold;
          margin: 12px 0;
        }

        .project-level {
          padding: 8px;
          background: rgba($primary, 0.1);
          border-radius: 15px;
          color: $primary;
          font-size: 12px;
          display: inline-block;
        }

        .project-status-closed {
          padding: 8px;
          background: $gray_light;
          border-radius: 15px;
          margin-left: 8px;
          font-size: 12px;
          display: inline-block;
        }

        .project-buttons {

          .project-button {
            display: inline-block;
            border-radius: 15px;
            padding: 8px;
            background: $gray_light_extra;
            margin-right: 8px;
            cursor: pointer;
          }
        }
      }

      .project-description {

        .scheme-image {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 24px 0;

          img {
            height: 300px;
          }
        }

        p {
          font-weight: 400;
          font-size: 16px;
        }
      }
    }

    .project-duration {
      @include project-info-template;
    }

    .project-details {
      @include project-info-template;

      .list {
        padding: 0 24px;
        li {
          margin: 12px 0;
        }
      }
    }

    .project-box-link {
      @include project-info-template;

      .link {
        a {
          color: $primary;
        }
        color: $gray_medium_light;
      }
    }

    .project-code {
      @include project-info-template;

      .link {
        a {
          color: $primary;
        }
        color: $gray_medium_light;
      }
    }
  }
}

.divider {
  border: 1px solid $gray_light_extra;
}

.create-project-modal {
  padding: 24px 0 32px 0;

  .title {
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: bold;
  }

  .project-type {
    margin-top: 24px;
    margin-bottom: 12px;

    .type-title {
      margin-bottom: 8px;
    }
  }

  .project-name {
    margin-bottom: 12px;

    .name-title {
      margin-bottom: 8px;
    }
  }

  .project-level {
    margin-bottom: 12px;

    .level-title {
      margin-bottom: 8px;
    }

    .levels {

      .level-tab {
        cursor: pointer;
        display: inline-block;
        margin-right: 12px;
        margin-bottom: 12px;
        padding: 12px 16px;
        border-radius: 15px;
        background: $gray_light_extra;
        border: 2px solid $gray_light_extra;
        font-weight: bold;
      }

      .level-tab-active {
        color: $primary;
        border: 2px solid $primary;
        background: white;
      }
    }
  }

  .buttons {
    display: flex;
    gap: 12px;
  }
}

.default-input {
  padding: 12px 24px;
  border-radius: 15px;
  font-size: 14px;
  border: 2px solid $gray_light;
  outline: none;
  width: calc(100% - 48px);
  transition: all ease-in-out 300ms;

  &:focus {
    transition: all ease-in-out 300ms;
    border: 2px solid $primary;
  }
}

.not-active-button {
  cursor: pointer;
  width: 100%;
  text-align: center;
  font-weight: bold;
  background: $gray_light_extra;
  border-radius: 15px;
  padding: 14px 0;
  border: none;
  transition: all ease-in-out 200ms;

  &:hover {
    background: rgba($gray_light_extra, 0.7);
    transition: all ease-in-out 200ms;
  }
}

.active-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-weight: bold;
  background: $primary;
  color: $white;
  border-radius: 15px;
  padding: 14px 0;
  border: none;
  transition: all ease-in-out 200ms;

  svg {
    margin-right: 12px;
  }

  &:hover {
    background: rgba($primary, 0.7);
    transition: all ease-in-out 200ms;
  }
}

.create-project-page {
  margin: 48px 15vw 0 15vw;
  max-width: 1400px;

  .page-header {
    display: flex;
    justify-content: space-between;
    padding: 48px 0;
    align-items: center;

    .header-title {
      font-weight: 700;
      font-size: 20px;
    }

    .buttons {
      display: flex;
      align-items: center;
      gap: 12px;
      width: 600px;

      button {
        font-weight: bold;
        font-size: 16px;
      }
    }
  }

  .page-container {
    display: flex;
    justify-content: center;

    .inner-container {

      .project-info {
        width: 710px;
        padding: 48px;
        border-radius: 40px;
        border: $gray_light_extra solid 2px;
        margin-bottom: 24px;

        .project-info-header {
          display: flex;
          justify-content: space-between;

          .info {
            .project-type {
              color: $gray_medium_light;
              font-size: 12px;
            }

            .project-name {
              font-size: 24px;
              font-weight: bold;
              margin: 12px 0;
            }

            .project-level {
              padding: 8px;
              background: rgba($primary, 0.1);
              border-radius: 15px;
              color: $primary;
              font-size: 12px;
              display: inline-block;
            }
          }

          .project-buttons {
            .project-button {
              cursor: pointer;
              display: inline-block;
              border-radius: 15px;
              padding: 8px;
              background: $gray_light_extra;
              margin-right: 8px;
            }
          }
        }

        .project-details {

          .project-cover-image {
            margin: 24px 0;
            .title {
              font-size: 14px;
              font-weight: bold;
              margin: 8px 0;
            }
          }

          .project-scheme-image {
            margin: 24px 0;
            .title {
              font-size: 14px;
              font-weight: bold;
              margin: 8px 0;
            }
          }

          .project-description {
            margin: 24px 0;
            .title {
              font-size: 14px;
              font-weight: bold;
              margin: 8px 0;
            }
          }
        }
      }

      .project-additional-details {
        width: 710px;
        padding: 48px;
        border-radius: 40px;
        border: $gray_light_extra solid 2px;
        margin-bottom: 24px;

        .title {
          display: flex;
          align-items: center;
          margin-bottom: 24px;

          svg {
            margin-right: 12px;
          }

          p {
            font-weight: bold;
          }
        }

        .inputs {
          display: grid;
          grid-template-columns: calc(60% - 24px) calc(30% - 24px) 10%;
          gap: 24px;

          button {
            svg {
              margin-right: 0;
            }
          }
        }

        .components {
          .component {
            padding: 12px 20px;
            font-weight: bold;
            color: $gray;
            border-radius: 10px;
            margin: 10px 0;
            border: $gray_light_extra 2px solid;
            display: flex;
            align-items: center;
            justify-content: space-between;
            transition: all ease-in-out 300ms;

            svg {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

.message-modal {
  padding: 24px;

  .message-title {
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    p {
      font-weight: bold;
      font-size: 24px;
    }

    svg {
      margin-right: 24px;
    }
  }

  .message-buttons {
    display: flex;
    gap: 24px;
  }
}

.confirm-action-modal {
  padding: 24px;

  .title {
    font-weight: bold;
    font-size: 24px;
  }

  .info {
    width: 50%;
    background: $warning;
    display: flex;
    align-items: center;
    margin-top: 12px;
    padding: 4px 8px;
    font-size: 14px;
    border-radius: 10px;

    svg {
      margin-right: 12px;
    }
  }

  .confirm-buttons {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 12px;
  }
}