
//HEADLESS UI MODAL STYLES

.s1 {
    position: relative;
    z-index: 10;
}

.s2 {
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.s3 {
    opacity: 0;
}

.s4 {
    opacity: 1;
}

.s5 {
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.s6 {
    overflow-y: auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
}

.s7 {
    display: flex;
    padding: 1rem;
    text-align: center;
    justify-content: center;
    align-items: flex-end;
    min-height: 100%;

@media (min-width: 640px) {
    padding: 0;
    align-items: center;
}
}

.s8 {
    --transform-translate-y: 1rem;
    opacity: 0;

@media (min-width: 640px) {
    --transform-scale-x: .95;
    --transform-scale-y: .95;
    --transform-translate-y: 0;
}
}

.s9 {
    --transform-translate-y: 0;
    opacity: 1;

@media (min-width: 640px) {
    --transform-scale-x: 1;
    --transform-scale-y: 1;
}
}

.s10 {
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.s11 {
    --transform-translate-y: 0;
    opacity: 1;

@media (min-width: 640px) {
    --transform-scale-x: 1;
    --transform-scale-y: 1;
}
}

.s12 {
    --transform-translate-y: 1rem;
    opacity: 0;

@media (min-width: 640px) {
    --transform-scale-x: .95;
    --transform-scale-y: .95;
    --transform-translate-y: 0;
}
}

.s13 {
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
    transition-property: all;
    text-align: left;
    border-radius: 20px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);

@media (min-width: 640px) {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    max-width: 600px;
}
}

.s14 {
    position: relative;
    z-index: 10;
}

.s15 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(#6B7280, 0.75);
    transition-property: opacity;
}

.s16 {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-top: 1.25rem;
    background-color: #ffffff;

    @media (min-width: 640px) {
        padding: 1.5rem;
        padding-bottom: 1rem;
    }
}